@{
    ViewData["Title"] = "E-Commerce Application";
}

<div class="text-left">
    <h4>Roles and its Access</h4>
    <h5>Admin</h5>
    <p>Has access to view, Create, Edit and Delete Products</p>
    <p>Admin Can only view his own Products</p>

    <h5>User</h5>
    <p>Has access only to view Products and its details</p>
    <p>User can view all Products</p>
</div>
